# Chef #
########
utilities/chef/metadata.json
utilities/chef/.chef
utilities/chef/client-config
utilities/chef/.DS_Store
utilities/chef/.rake_test_cache
utilities/chef/.client-configy

# Celery Schedule #
###################
celerybeat-schedule

# Production ini #
##################
production.ini

# Bulkloader files #
####################
colapp/colexport/*.csv
colapp/bulkloader-*
bulkloader-log*
bulkloader-progress*

# Compiled source #
###################
*.pyc
*.bak

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# IDE files #
#############
*.idea
*.project
*.pydevproject
*.iml

# OS files #
############
.DS_Store
*.*~
.#*
