# Production ini #
##################
production.ini

# Bulkloader files #
####################
colapp/colexport/*.csv
colapp/bulkloader-*

# Compiled source #
###################
*.pyc

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# IDE files #
#############
*.idea
*.project
*.pydevproject
*.iml

