#layer-widget-container {
    margin-top: -11px;
	width: 290px;
    float: right;
}
#layers #add.option{
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid rgb(135, 165, 149);
    border-right: none;
}
#layers #delete.option{
    border-top: 1px solid rgb(135, 165, 149);
    border-bottom: 1px solid rgb(135, 165, 149);
}
#layers #delete.option:hover {
    background-color: rgb(255, 0, 0)
}
#layers #add.option:hover {
    background-color: rgb(184, 255, 33)
}
#layers .layer{
    font-size: 14px;
    float: right;
    margin: 0px;
    width: 100%;
    padding-top: 2px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    line-height: 165%;
    text-align: center;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#layers .layer .leftCol{
    float: left;
    width: 20px;
    margin-right: 5px;
}
#layers .layer input{
    height: 20px;
    width: 20px;
    background-color: blue;
}
#layers .layer .source{
    float: right;
}
#layers .layer .toggle{
    float: right;
    width: 20px;
}
#layers .layer .info{
    float: right;
    width: 20px;
    height: 20px;
    font-style:italic;
    margin-right: 5px;
}
#layers .layer .title{
    float: left;
    font-size: 1.2em;
    padding-top: 2px;
}
#layers .layer .error{
    color: rgba(255, 255, 255, 0.80);
    background-color: rgb(255,0,0);
    width: 20px;
    height: 20px;
    float: right;
    font-style:normal;
    margin-right: 5px;
}
#layers .layer .loading{
}
