
#metadata {
    height: 100%;
    width: 100%;
}
.mol-Metadata {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight:700;
    color: #141414;
    font-size: 14px;
}
.mol-Metadata .top-bar {
    width: 100%;
    height: 26px;
    background: #3b5874;
    border-bottom: 1px solid black;
    padding: 0px;
    margin: 0px;
    color: white;
}
.mol-Metadata .top-bar a {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 200px;
    text-decoration: none;
    color: white;
}
.mol-Metadata .top-bar .details-menu {
    float: right;
    padding-right: 200px
}
.mol-Metadata .top-bar .details-menu .title, .view-option {
    float: right;
    margin-left: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.mol-Metadata .top-bar .details-menu .view-option {
    font-style: italic;
    font-size: 90%;
}
.mol-Metadata .top-bar .details-menu .view-option.selected, .view-option:hover {
    text-decoration: underline;
    cursor: pointer;
}
.mol-Metadata .object-menu {
    float: left;
    width: 250px;
    max-width: 35%;
    height: 100%;
    background-color: #efefef;
    overflow: auto;
    border-right: 1px solid black;
}
.mol-Metadata .object-menu .title{
    margin: 4px;
    font-size: 140%;
}
.mol-Metadata .object-menu .collection{
    font-size: 120%;
    font-weight: bold;
}
.mol-Metadata .object-menu ul,li{
    font-size: 105%;
    font-weight: normal;
    list-style: none;
    margin-bottom: 5px;
    padding-left: 0.5em;
    cursor: pointer;
}
.mol-Metadata .object-menu .item.selected, 
.item:hover,
.collection.selected,
.collection:hover{
    background-color: #cdcdcd;
}
.mol-Metadata .object-viewer{
    float: left;
    height: 100%;
    float: left;
    margin-left: 10px;
    min-width: 350px;
    min-height: 350px;
    max-height: 85%;
    max-width: 63%;
}
.mol-Metadata .object-viewer .details-menu{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.mol-Metadata .object-viewer .details-window{
    float: left;
    width: 100%;
    min-width: 350px;
    margin-top: 8px;
}
.mol-Metadata .object-viewer .details-window .title{
    font-size: 120%;
    font-weight: bold;
    width: 100%;
    float: left;
}
.mol-Metadata .object-viewer .details-window .data{
    width: 96%;
    float: left;
    margin: 2%;
}
.mol-Metadata .object-viewer .details-window .data .meta-object{
    visibility: collapse;
    width: 100%;
    display: none;
}
.mol-Metadata .object-viewer .details-window .data .meta-object.selected{
    float: left;
    visibility: visible;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .object-title {
    float: left;
    width: 100%;
    margin-bottom: 4px;
    margin-left: 8px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .name-path {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 10px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .url {
    float: left;
    margin-top: 8px;
    margin-bottom: 10px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .description {
    float: left;
    width: 95%;
    margin-left: 5%;
    font-size: 0.95em;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .agreements, .references, .description {
    float: left;
    width: 95%;
    margin-left: 5%;
    margin-bottom: 8px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .agreement-text, .reference-text, .description-text {
    font-size: 0.9em;
    font-style: italic;
    float: left;
    width: 95%;
    margin-left: 4%;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial {
    float: left;
    width: 95%;
    margin-left: 5%;
    margin-bottom: 12px;
    margin-top: 4px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .text{
    float: left;
    width: 100%;
    margin-bottom: 8px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .spacolumn{
    float: left;
    position: relative;
    width: 49%;
    height: 192px;
    text-align: center;
    font-size: 0.9em;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .spacolumn .title{
    float: left;
    width: 100%;
    text-align: center;
    height: 20px;
}
    
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .bounding-box{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -128px;
    width: 256px;
    height: 128px;
    line-height: 20px;
    background-image:url('/static/maps/metadata/crose.png');
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .bounding-box .north{
    float: left;
    width: 100%;
    height: 54px;
    text-align: center;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .bounding-box .west{
    float: left;
    width: 50%;
    height: 59px;
    text-align: left;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .bounding-box .east{
    float: left;
    width: 50%;
    height: 59px;
    text-align: right;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .bounding-box .south{
    float: left;
    width: 100%;
    text-align: center;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .map-overview{
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -128px;
    width: 256px;
    height: 128px;
    border: 1px solid grey;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .spatial .map-overview img{
    width: 256px;
    height: 128px;
    
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left {
    position: relative;
    float: left;
    width: 47%;
    margin-left: 5%;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .temporal {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .temporal .title{
    float: left;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .temporal .start{
    float: left;
    width: 100%;
    text-align: left;
    font-style: italic;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .temporal .bar{
    float: left;
    width: 100%;
    height: 20px;
    background-image: url('/static/maps/metadata/timebar.png');
    background-repeat:no-repeat;
    background-position:center; 
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .temporal .end{
    float: left;
    width: 100%;
    text-align:right;
    font-style: italic;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .variables {
    float: left;
    width: 100%;
    border: 1px dotted #16396f;
    padding: 2px 2px 6px 2px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .variables .variable  {
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px dotted #16396f;
    width: 100%;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .variables .variable .name {
    float: left;
    width: 100px;
    margin-left: 4px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-left .variables .variable .value {
    float: left;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-right {
    position: relative;
    float: left;
    width: 46%;
    margin-left: 2%;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .file-data {
    position: relative;
    float: right;
    width: 96%;
    border: 1px dotted #16396f;
    padding: 2px 0px 6px 6px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-right .file-data div{
    float: left;
    width: 100%;
    padding-top: 6px;
}
.mol-Metadata .object-viewer .details-window .data .meta-object .small-right .file-data .title{
    float: left;
    width: 100%;
}
