html { height: 100% }
body { height: 200%; margin: 0px; padding: 0px; overflow: hidden; font-family: Arial, sans-serif; color: #141414; font-weight:700;}
#map { height: 50% }
#meta { height: 50% }

/* Set up RightControl defaults */
.mol-Map-RightControl { margin-right: 5px; width: 290px; }
.mol-Map-RightControl .TOP { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-RightControl .MIDDLE { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-RightControl .BOTTOM { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }

/* Set up CenterControl defaults */
.mol-Map-CenterTopControl { margin-right: -50px; width: 465px;  }
.mol-Map-CenterTopControl .TOP { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-CenterTopControl .MIDDLE { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-CenterTopControl .BOTTOM { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }

/* Set up LeftControl defaults */
.mol-Map-LeftBottomControl { margin-left: 5px; margin-bottom: 2px; width: 290px;  }
.mol-Map-LeftBottomControl .TOP { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-LeftBottomControl .MIDDLE { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-LeftBottomControl .BOTTOM { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }

.mol-Map-TopLeftControl {
    margin-left: 5px;
	width: 550px;
    height: auto;
    font-family: Arial, sans-serif;
    font-weight:700;
    color: #141414;
    font-size: 14px;
}
.mol-Map-TopLeftControl .TOP { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-TopLeftControl .MIDDLE { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }
.mol-Map-TopLeftControl .BOTTOM { position: relative; float: left; width: 100%; height: auto; margin-bottom: 5px; }


.mol-WidgetContainer {
    margin-top: -11px;
	width: 290px;
    float: right;
}

