/* BEGIN Shared Styles
 * */

/* sets defaults for units within a widget background greed fade theme, 
 * as well as min-height and 100% width */

.widgetTheme{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, rgba(184, 233, 133,0.65)),
        color-stop(0.69, rgba(92,194,7,0.65))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(184, 253, 133,0.65) 37%,
        rgba(92,214,7,0.65) 69%
    );
    -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.347656);
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
}
button{
    float: left;
    width: auto;
    margin: 2px;
    font-size: 1.1em;
    font-weight:700;
    color: rgb(240, 240, 260);
    background-color: rgba(25, 25, 25, 0.75);
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #222;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
}
button:hover{
    background-color: rgba(25, 25, 25, 1.0);
    cursor: pointer;
}
 
/* BEGIN Layers Widget
 * Add, Delete
 * Layer Stack
 */

.mol-LayerControl-Menu {
    list-style-type: none;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, rgba(184, 233, 133,0.65)),
        color-stop(0.69, rgba(92,194,7,0.65))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(184, 253, 133,0.65) 37%,
        rgba(92,214,7,0.65) 69%
    );
    -webkit-box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.347656);
    box-shadow: rgba(0, 0, 0, 0.347656) 2px 2px 3px; 
}

.mol-LayerControl-Display {
    float: right;
    width: 70%;
}

.mol-LayerControl-MenuOption {
    font-size: 12px;
    float: right;
    margin: 0px;
    padding-top: 0px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 0px;
    line-height: 170%;
    text-align: center;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid rgb(135, 165, 149);
    border-right: none;
}

.mol-LayerControl-MenuOptionLink {
    cursor: pointer;
    text-decoration:none;
    color: #141414;
}

.mol-LayerControl-MenuOptionLabel {
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.37, rgba(35, 35, 35,0.75)),
        color-stop(0.69, rgba(66,66,66,0.75))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgba(35, 35, 35,0.75) 37%,
        rgba(66,66,66,0.75) 69%
    );
    border: 1px solid rgb(73, 73, 73);
    color: rgb(240, 240, 260);
    width: 40px;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.block {
    display: block;
}


/* BEGIN SEARCH UI
 * search, results
 */
 
.mainSearchNavigation{
    position: relative;
    float: left;
    margin-right: 5px;
    width: 13px;
}
.mainSearchNavigation button#searchCancel,
.mainSearchNavigation button#searchRestart{
    float: left;
    margin: 0px;
    margin-top: 1px;
    padding: 0px;
    width: 13px;
    height: 13px;
    font-size: 0.2em;
    font-weight:100;
    -moz-box-shadow: 0px 0px 0px #000;
    -webkit-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px #000;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mainSearchNavigation button#searchCancel img,
.mainSearchNavigation button#searchRestart img{
    width: 12px;
    height: 12px;
}
.mol-LayerControl-Search {
    padding: 2px 5px 2px 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
    position: relative;
    width: 92%;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mol-LayerControl-Search .title{
    float: left;
    line-height: 25px;
    font-size: 1.1em;
}
.mol-LayerControl-Search .value{
    float: left;
    margin-right: 2px;
    width: 74%;
}
.mol-LayerControl-Search .execute{
    float: left;
    margin-right: 5px;
    width: 50px;
}
.mol-LayerControl-Results{
    float: left;
    width: 100%;
    list-style-type: none;
    text-align: left;
    outline: none;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.mol-LayerControl-Results .filters{
    float: left;
    width: 30%;
    height: 100%;
    margin-right: 5px;
    padding: 0px;
    border: 0px;
}
.mol-LayerControl-Results .filters .filter{
    padding: 4px;
    margin: 0px 0px 5px 0px;
}
.mol-LayerControl-Results .filters .filter .filterName{
    margin-bottom: 5px;
    font-size: 1.1em;
}
.mol-LayerControl-Results .filters .filter .option a{
    color: #6622ee;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: normal;
}
.mol-LayerControl-Results ol{
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    width: 65%;
    float: left;
    padding-top: 10px;
    position: relative;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.mol-LayerControl-Results ul {
    padding-left: 0px;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    float: left;
    position: relative;
}
.mol-LayerControl-Results .result button{
    width: 20px;
    height: 20px;
    color: #fff;
    padding: 0px;
    padding-top: 2px;
}
.mol-LayerControl-Results .result button img{
    width: 16px;
    height: 16px;
}
.mol-LayerControl-Results .result div.resultName{
    width: 50%;
    float: left;
    margin-left: 4px;
}
.mol-LayerControl-Results .result .resultAuthor{
    font-size: 0.8em;
    margin-top: -4px;
}
.mol-LayerControl-Results .result div.resultLink{
    width: 20%;
    font-size: 0.9em;
    padding-top: 1%;
    float: left;
}
.mol-LayerControl-Results .result a{
    color: #212121;
}
.mol-LayerControl-Results .result .buttonContainer {
	width:24px;
	height:24px;
    position: relative;
    float: left;
}
.mol-LayerControl-Results .result .checkbox {
    opacity: 0.0;
	position:absolute;
	left:0;
	z-index:100;
    float: left;
	width:24px;
	height:24px;
    cursor: pointer;
    
}
.mol-LayerControl-Results .break{
    float: left;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(11,11,11,0.3);
    margin-bottom: 2px;
}
.mol-LayerControl-Results .result .customCheck:after{
	content:url('/static/unchecked.png');
	position:absolute;
    left: 0;
}
.mol-LayerControl-Results .result .checkbox:checked + .customCheck:after {
	content:url('/static/checked.png');
}
.mol-LayerControl-Results .navigation{
    width: 50%;
    float: right;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-right: 10px;
}
.mol-LayerControl-Results .navigation button{
    float: right;
    margin-left: 8px;
    font-size: 0.9em;
}
