<html> 
<head> 
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAhejF1IRVaCyeCqxIQjT19BQucxQLswEwpwyQ05_YSCcBX34rGRS-HzJsCPxZMsoTtmI8GCMsq8A7cQ" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 
<script type="text/javascript"> 
var map;
var red;
var alpha;
var ctx;
var elem;

function initialize() {
  if (GBrowserIsCompatible()) {
    //get a reference to the canvas
    map = new GMap2(document.getElementById("map_canvas"));
    map.setCenter(new GLatLng(37.4419, -122.1419), 7);
    map.setUIToDefault();
    red = 255;
    alpha = 127;
    ctx = $('#canvas')[0].getContext("2d");
    ctx.font = "20pt Arial";
    var elem = document.getElementById("canvas");
  }
}

$(document).keyup(function(event) {
   var cd = event.keyCode;   
   if (cd == 38) {
       red += 10; 
       if (255<red) { red = 255 }; 
   } else if (cd == 40) {
       red = red - 10;
       if (red<0) { red = 0 }; 
   } else if (cd == 65) {
       alpha += 10; 
       if (255<alpha) { alpha = 255 }; 
   } else if (cd == 90) {
       alpha = alpha - 10;
       if (alpha<0) { alpha = 0 }; 
   }
   
   // Create an ImageData object.
    var imgd = ctx.createImageData(256,256);
    var pix = imgd.data;

    // Loop over each pixel and set a transparent red.
    for (var i = 0; n = pix.length, i < n; i += 4) {
      pix[i  ] = red; // red channel
      pix[i+3] = alpha; // alpha channel
    }

    // Draw the ImageData object at the given (x,y) coordinates.
    ctx.putImageData(imgd, 0,0);
   
   
   //ctx.clearRect(0, 0, 300, 300);
   //ctx.fillText(writeStr, 10, 50); 
   addoverlay();
   
});

function addoverlay() {
    // Create the tile layer overlay and 
    // implement the three abstract methods                 
    var tilelayer = new GTileLayer();
    //tilelayer.getTileUrl = function() { return "/static/tile.png"; };
    tilelayer.getTileUrl = function() { return elem.toDataURL("image/png") };
    tilelayer.isPng = function() { return true;};
    tilelayer.getOpacity = function() { return 1.0; }
    var myTileLayer = new GTileLayerOverlay(tilelayer);
    var map = new GMap2(document.getElementById("map_canvas"));
    map.clearOverlays();
    map.setCenter(new GLatLng(37.4419, -122.1419), 7);
    map.addOverlay(myTileLayer);
}
</script>
</head>
<body onload="initialize()" >
 <div id="map_canvas" style="width: 80%; height: 70%; float:left"></div> 
 <div id="hidden" style="display: none; width: 0%; height: 0%; float:left">
    <img id="cat" src="/static/tile.png">
    <img src="/static/none.png">
    <canvas id="canvas" width="256" height="256"></canvas>
 </div> 
</body>
