<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/coltest.css" /> 
    <script type="text/javascript">
        function getUrlVars()
            {
                var vars = [], hash;
                var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for(var i = 0; i < hashes.length; i++)
                {
                    hash = hashes[i].split('=');
                    vars.push(hash[0]);
                    vars[hash[0]] = hash[1];
                }
                return vars;
            }
        $(document).ready(function(){
            runQuery = function(cursor){
                    $(".loading").show();
                    //$(".inner").hide()
                    var val = $('.search').val();
                    var vars = {'s':val}
                    if (cursor) { vars['cursor'] = cursor };
                    $.post("/col/search",vars,function(data){
                        $('.inner').html("").append($("<div class='time'></div>"));
                        $('.inner .time').html("Query time: "+data.time+" sec");
                        
                        $.each(data.items, function(i,item){
                            var ndiv = $("<div class='return'></div>");
                            var nms = $("<div class='names'></div>");
                            nms.append('other names:');
                            var spec = $("<div class='species'></div>");
                            var tax = $("<div class='taxonomy'></div>");
                            tax.html("taxonomy: "+item.classification.kingdom +": "+item.classification.phylum +": "+item.classification.class +": "+item.classification.order +": "+item.classification.family);
                            var brk = $("<div class='break'></div>");
                            $.each(item.names, function(j,name){
                                if (name.type == "accepted name"){
                                    spec.html(name.name+" <i>"+name.author+"</i>");
                                }else{
                                    $(nms).append(name.name+", ");
                                }
                            });
                            ndiv.append(brk);
                            ndiv.append(spec);
                            ndiv.append(tax);
                            ndiv.append(nms);
                            $('.inner').append(ndiv);
                        });
                        if (data.cursor) {
                            $('.inner .time').append("<button id='next' name='next' value='"+data.cursor+"'>Next</button>");
                            $(".inner button").click(function(){
                                runQuery($(".inner #next").val());
                            })
                        }
                        $(".loading").hide(20);
                        $(".inner").show()
                    },"json");
            }
            $(".search").keypress(function(e){
                if(e.which == 13){
                    runQuery();
                    window.location.hash = $('.search').val();
                }
            });
            
            if(location.href.indexOf("#") != -1){
                $('.search').val(window.location.hash.substr(1));
                runQuery();
            }
            
        });
    </script>
</head>
<body>
<div id="container">
<div id="search">
    COL Search: <input type="text" class="search" name="s" id="colsearch"/><div class="loading"><img src="/static/loading-small.gif" /></div>
</div>
<div id="results">
    <div class="inner">
        <div class="time"></div>
        <div class="species"></div>
        <div class="taxonomy"></div>
        <div class="names"></div>
    </div>
</div>
</div>
</body>
</html>
