<html>
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/coltest.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/coltest.css" /> 

</head>
<body>
<div id="container">
<div id="search">
    COL Search: <input type="text" class="search" name="s" id="colsearch"/><div class="loading"><img src="/static/loading-small.gif" /></div>
</div>
<div id="results">
    <div class="inner">
        <div class="time"></div>
        <div class="species"></div>
        <div class="taxonomy"></div>
        <div class="names"></div>
    </div>
</div>
</div>
</body>
</html>
