<!DOCTYPE html>
<html>
  <head>    
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../../css/mol.css">
    <link rel="stylesheet" href="../../../css/widgets.css">
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script src="../../../js/lib/jquery-1.5.1.min.js"></script> 
    <script src="../../../js/lib/jquery-ui-1.8.10.custom.min.js"></script> 
    <script src="../../../js/lib/underscore-min.js"></script>    
    <script src="../../../js/lib/backbone-min.js"></script> 
    <script src="../../../js/lib/class.js"></script>
    {% if prod %}
    <script src="../../../static/js/mol.js"></script>
    {% else %}
    <script src="../../../js/mol.js?"></script>
    <script src="../../../js/mol.app.js"></script>
    <script src="../../../js/mol.events.js"></script>
    <script src="../../../js/mol.ajax.js"></script>
    <script src="../../../js/mol.log.js"></script>
    <script src="../../../js/mol.exceptions.js"></script>
    <script src="../../../js/mol.location.js"></script>
    <script src="../../../js/mol.model.js"></script>
    <script src="../../../js/mol.util.js"></script>
    <script src="../../../js/mol.ui.js"></script>
    <script src="../../../js/mol.ui.ColorSetter.js"></script>
    <script src="../../../js/mol.ui.LayerControl.js"></script>
    <script src="../../../js/mol.ui.LayerList.js"></script>
    <script src="../../../js/mol.ui.Map.js"></script>
    <script src="../../../js/mol.ui.Search.js"></script>
    {% endif %}

    <meta charset="utf-8" /> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/> 
    <meta name="description" content="Map of Life - Range Map." /> 
    <meta name="keywords" content="map, map of life, biology, range map, expert map" /> 
  </head>
  <body>
	<script type="text/javascript">
        $(document).ready(function() {
            {% if prod %}
                <!-- Production, so load app without logging and run it. -->
                MOL(function(env) {
                   new env.app.Instance({logging: false}).run();
                });           
            {% else %}   
                <!-- Not production, so load app with logging and run it. -->
                MOL(function(env) {
                   new env.app.Instance({logging: true}).run();
                });           
            {% endif %}
        });
    </script>
  </body>  
</html>
