<!DOCTYPE html> 
<html> 
<head> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/> 
<meta charset="utf-8" />
<title>Map of Life - Range Maps</title>
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/standard.css" 
      rel="stylesheet" type="text/css" /> 
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans'
      rel='stylesheet' type='text/css'>
<style>
#mol {
    font-family: 'Josefin Sans', arial, serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.037em;
    word-spacing: -0.108em;
    line-height: 1.17;
}
</style>
<script src="../js/mol.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head> 
<body style="font: 75% Lucida Grande, Trebuchet MS"> 
<div id='mol'>Map of Life</div>
<p></p>
<div id="map_canvas" style="height:100%"></div>
<script> 

var app = app || {};

app.MetaControl = function(div, map) {    
    var metaBtn = document.createElement('DIV');    
    metaBtn.style.backgroundColor = 'white';
    metaBtn.style.borderStyle = 'solid';
    metaBtn.style.borderWidth = '1px';
    metaBtn.style.cursor = 'pointer';
    metaBtn.style.textAlign = 'center';
    metaBtn.title = 'Click for range map metadata';
    div.style.padding = '8px';    
    div.appendChild(metaBtn);
    var metaText = document.createElement('DIV');
    metaText.style.fontFamily = 'Lucida Grande, Trebuchet MS';
    metaText.style.fontSize = '12px';
    metaText.style.paddingLeft = '4px';
    metaText.style.paddingRight = '4px';
    metaText.innerHTML = '<b>Metadata</b>';
    metaBtn.appendChild(metaText);
    google.maps.event.addDomListener(metaBtn, 'click', function() {
        alert(JSON.stringify(app.metadata));
    });
}

/**
 * Get current key_name.
 */
app.getKeyName = function () {
    var pathArray = window.location.pathname.split( '/' );
    return pathArray[2] + "/" + pathArray[3] + "/" + pathArray[4];
}

var key_name = app.getKeyName();

/**
 * MapType for range map tiles.
 */
app.rangMapType = new google.maps.ImageMapType({
    getTileUrl: function(coord, zoom) {
        var normalizedCoord = app.getNormalizedCoord(coord, zoom);
        if (!normalizedCoord) {
            return null;
        }
        var bound = Math.pow(2, zoom);
        
        return "/layers/" + key_name + ".png?" +
               "z=" + zoom + 
               "&x=" + normalizedCoord.x + 
               "&y=" + (normalizedCoord.y);
               //"&y=" + (bound - normalizedCoord.y - 1);
    },
    tileSize: new google.maps.Size(256, 256),
    isPng: true,
    opacity: 0.5,
});

/**
 * Normalizes the coords that tiles repeat across the x axis (horizontally) like 
 * the standard Google map tiles.
 *
 */
app.getNormalizedCoord =  function(coord, zoom) {
    var y = coord.y    
    var x = coord.x;
    
    // tile range in one direction range is dependent on zoom level
    // 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
    var tileRange = 1 << zoom;
    
    // don't repeat across y-axis (vertically)
    if (y < 0 || y >= tileRange) {
        return null;
    }
    
    // repeat across x-axis
    if (x < 0 || x >= tileRange) {
        x = (x % tileRange + tileRange) % tileRange;
    }
    
    return {
        x: x,
        y: y
    };
}

var maxZoom = 5;
app.zoomLayerExtents = function(kn) {
    var url = '/api/tile/metadata/'+kn;
    $.getJSON(url, function(data) {
        app.metadata = data;
        maxZoom = data.zoom;
        app.map.mapTypes[app.map.getMapTypeId()].maxZoom = parseInt(maxZoom); 
        app.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(metaControlDiv);
        var nw = data.extentNorthWest.split(',');
        var se = data.extentSouthEast.split(',');
        var northW = new google.maps.LatLng(parseFloat(nw[0]),parseFloat(nw[1]));
        var southE = new google.maps.LatLng(parseFloat(se[0]),parseFloat(se[1]));
        var bounds = new google.maps.LatLngBounds;
        bounds.extend(northW);
        bounds.extend(southE);
        app.map.fitBounds(bounds);  
    });
}

var metaControlDiv; 
$ = (function () {
    var $ = function(id) {
        return document.getElementById(id);
    }
    var latlng = new google.maps.LatLng(0,0);  
    app.mapOptions = {
        zoom: 2,
        maxZoom: 20,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    app.map = new google.maps.Map(document.getElementById("map_canvas"), app.mapOptions); 
    app.zoomLayerExtents(key_name);     
    app.map.overlayMapTypes.insertAt(0, app.rangMapType);
    metaControlDiv = document.createElement('DIV');
    var homeControl = new app.MetaControl(metaControlDiv, app.map);   
    metaControlDiv.index = 1;
    
    return $;
}());
</script>
</body>
</html>
